.container{
    display: fit-content;
    position: relative;
   
}
.upperchild{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container img{ 
    width: 100%;
    display: block;
}
h2{
    display: inline-block;
}
h1{
    display: inline-block;
    background-color: black;
    color: white;
}
.child{
   display: flex;
    width: 100%;
    margin: 5px 0;    
}
.grandchild{
    flex: 1;
    margin: 5px;
    position: relative;
}
.grandchild img{
    width: 100%;
}

.grandchild p{
    margin: 0px;
    padding: 5px;
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;

}
